/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body general */
  body {
    font-family: var(--font-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Enlaces */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Títulos */
   h1, h2, h3 {
    font-family: var(--font-principal);
    font-weight: 600;
  }

  h4, h5, h6 {
    font-family: var(--font-secudaria);
  }
  