:root {
  /* Colores */
  --color-principal: #c9a04d;
  --color-secundario: #ffffff;
  --color-texto: #222;
  --color-fondo: #f7f7f7;
  --color-error: #8B1E3F; 
  --color-negro: #202020; 
  
  /* Tipografías */
  --font-principal: 'Playfair Display', serif;
  --font-secundaria: 'Lato', sans-serif;

  /* Tamaños */
  --border-radius: 8px;
}

  